<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.eco.user.model.vo.User" alias="user"/>
		<typeAlias type="com.kh.eco.user.model.vo.Cert" alias="cert"/>
		<typeAlias type="com.kh.eco.user.model.vo.KakaoUser" alias="kakaouser"/>
		
		<typeAlias type="com.kh.eco.product.model.vo.Product" alias="product"/>
		<typeAlias type="com.kh.eco.product.model.vo.Brand" alias="brand"/>
		<typeAlias type="com.kh.eco.product.model.vo.ProductReview" alias="productReview"/>
		<typeAlias type="com.kh.eco.product.model.vo.ProductOption" alias="option"/>
		<typeAlias type="com.kh.eco.product.model.vo.ProductLike" alias="productLike"/>
		<typeAlias type="com.kh.eco.product.model.vo.Cart" alias="cart"/>
		<typeAlias type="com.kh.eco.product.model.vo.Order" alias="order"/>
    
		<typeAlias type="com.kh.eco.product.model.vo.ApproveRequest" alias="approveRequest" />
		<typeAlias type="com.kh.eco.product.model.vo.Address" alias="address"/>

		<typeAlias type="com.kh.eco.book.model.vo.Book" alias="book" />
		<typeAlias type="com.kh.eco.book.model.vo.BookReply" alias="bookReply" />
		<typeAlias type="com.kh.eco.book.model.vo.BookReport" alias="bookReport" />
		<typeAlias type="com.kh.eco.book.model.vo.BookReportReply" alias="bookReportReply" />

		<typeAlias type="com.kh.eco.product.model.vo.ApproveRequest" alias="approveRequest" />

		<typeAlias type="com.kh.eco.common.model.vo.Activity" alias="activity" />
		<typeAlias type="com.kh.eco.challenge.model.vo.Challenge" alias="challenge" />
		<typeAlias type="com.kh.eco.event.model.vo.Event" alias="event"/>
		<typeAlias type="com.kh.eco.achievement.model.vo.Achievement" alias="achievement"/>
		
		<typeAlias type="com.kh.eco.eventBoard.model.vo.EventBoard" alias="eventBoard" />
		<typeAlias type="com.kh.eco.eventBoard.model.vo.Reply" alias="Reply" />
	</typeAliases>

	<mappers>
		
    	<mapper resource="/mapper/eventBoard/eventboard-mapper.xml" />
		<mapper resource="/mapper/user/user-mapper.xml"/>
		<mapper resource ="/mapper/product/product-mapper.xml"/>
		
    	<mapper resource="/mapper/book/book-mapper.xml" />
    	
    	<mapper resource="/mapper/common/activity-mapper.xml"/>
    	<mapper resource="/mapper/challenge/challenge-mapper.xml" />
    	<mapper resource="/mapper/event/event-mapper.xml"/>
  		<mapper resource="/mapper/achievement/achievement-mapper.xml"/>
	</mappers>
  
</configuration>