<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.eco.book.model.vo.Book" alias="book" />
	</typeAliases>

	<!-- 일단 매퍼패키지 내 매퍼파일이 전부 등록되도록 설정해봤습니다(오류있을시 수정 환영) -->
	<mappers>
  		<package name="com.resources.mapper"/>
	</mappers>
  
</configuration>