<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="challengeMapper">
	
	<!-- resultMap 영역 -->
	<resultMap id="challengeResultSet" type="challenge">
		<result column="CHALLENGE_NO" property="challengeNo" />
		<result column="CHALLENGE_TITLE" property="challengeTitle" />
		<result column="START_DATE" property="startDate" />
		<result column="SUCCESS_LIMIT" property="successLimit" />
		<result column="VIEW_COUNT" property="viewCount" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="CHALLENGE_CONTENT" property="challengeContent" />
		<result column="USER_NO" property="userNo" />
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="END_DATE" property="endDate" />
		<result column="CHALLENGE_PLACE" property="challengePlace" />
		<result column="ACHIEVEMENT_COUNT" property="achievementCount" />
		<result column="MIN_PARTICIPANT" property="minParticipant" />
		<result column="MAX_PARTICIPANT" property="maxParticipant" />
		<result column="STATUS" property="status" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
	</resultMap>
	
	
	<!-- 게시글 총개수 조회 -->
	<select id="countChallengeList" resultType="_int">
		SELECT 
						COUNT(*)
		FROM 
						TB_CHALLENGE
		WHERE 
						STATUS = 'Y'
	</select>
	
	<!-- 게시글 전체조회 -->
	<select id="selectChallengeList" resultMap="challengeResultSet"><!-- resultType을 왜 arrayList가 아닌 resultMap으로 해야할까 -->
		SELECT
						CHALLENGE_NO,
						CHALLENGE_TITLE,
						START_DATE,
						SUCCESS_LIMIT,
		
						VIEW_COUNT,
					
						ORIGIN_NAME,
						CHANGE_NAME,
						USER_ID,
						CATEGORY_NAME
		FROM
						TB_CHALLENGE
		JOIN
						TB_USER USING(USER_NO)
		JOIN 
						TB_CATEGORY USING (CATEGORY_NO)
		WHERE 
						STATUS = 'Y' 
		ORDER
		BY	
						UPLOAD_DATE DESC
	</select>
	
	<!-- 검색결과수 조회 -->
	<select id="countSearchList" resultType="_int" parameterType="hashmap">
		SELECT 
						COUNT(*)
		FROM 
						TB_CHALLENGE
		JOIN 
						TB_USER USING (USER_NO)
		WHERE 
						TB_CHALLENGE.STATUS = 'Y'<!-- USER에도 STATUS가 있기 때문 -->
	
			<if test=" condition == 'title' ">
						AND CHALLENGE_TITLE 
			</if>
			<if test=" condition == 'userId' ">
						AND USER_ID
			</if>
						LIKE '%' || #{ keyword } || '%'
	</select>
	
	<!-- 검색결과리스트 조회 -->
	<select id="selectSearchList" resultMap="challengeResultSet" parameterType="hashmap">
		SELECT
						CHALLENGE_NO,
						CHALLENGE_TITLE,
						START_DATE,
						SUCCESS_LIMIT,
						<!-- CHALLENGE_CONTENT, -->
						VIEW_COUNT,
					
						ORIGIN_NAME,
						CHANGE_NAME,
						USER_ID,
						CATEGORY_NAME
		FROM
						TB_CHALLENGE
		JOIN
						TB_USER USING(USER_NO)
		JOIN 
						TB_CATEGORY USING (CATEGORY_NO)
		WHERE 
						TB_CHALLENGE.STATUS = 'Y'	
		AND
		<choose>
			<when test="condition == 'title' ">
						CHALLENGE_TITLE
			</when>
			<otherwise>
						USER_ID
			</otherwise>
		</choose>
						LIKE '%' || #{keyword} || '%'
		ORDER
		BY	
						UPLOAD_DATE DESC
	</select>
	
	<!-- 정렬 결과수 조회 -->
	<select id="countChallengeStatus" parameterType="hashmap" resultType="_int">
		SELECT
						COUNT(*)
		FROM
						TB_CHALLENGE
		WHERE
						STATUS = 'Y'			
			AND			
					<if test=" status == 'coming' ">
					<![CDATA[ 
						SYSDATE < TO_DATE(START_DATE, 'YY/MM/DD')
					]]> 
					</if>	
					<if test=" status == 'progress' ">
					<![CDATA[ 
						TO_DATE(START_DATE, 'YY/MM/DD') < SYSDATE AND SYSDATE < TO_DATE(END_DATE, 'YY/MM/DD')
					]]>
					</if>
					<if test=" status == 'complete' ">
					<![CDATA[ 
						TO_DATE(END_DATE, 'YY/MM/DD') < SYSDATE 
					]]>
					</if> 
		 
	</select>
	
	<!-- 정렬결과 리스트 조회 - 진행예정/진행중/종료 -->
	<select id="selectChallengeStatus" parameterType="hashmap" resultMap="challengeResultSet">
		SELECT
						CHALLENGE_NO,
						CHALLENGE_TITLE,
						START_DATE,
						SUCCESS_LIMIT,
						<!-- CHALLENGE_CONTENT, -->
						VIEW_COUNT,
					
						ORIGIN_NAME,
						CHANGE_NAME,
						USER_ID,
						CATEGORY_NAME
		FROM
						TB_CHALLENGE
		JOIN
						TB_USER USING (USER_NO)
		JOIN
						TB_CATEGORY USING (CATEGORY_NO)
		WHERE 
						TB_CHALLENGE.STATUS = 'Y'
		AND
					<if test=" status == 'coming' ">
					<![CDATA[ 
					SYSDATE < TO_DATE(START_DATE, 'YY/MM/DD')
					]]> 
					</if>	
					<if test=" status == 'progress' ">
					<![CDATA[ 
					TO_DATE(START_DATE, 'YY/MM/DD') < SYSDATE AND SYSDATE < TO_DATE(END_DATE, 'YY/MM/DD')
					]]>
					</if>
					<if test=" status == 'complete' ">
					<![CDATA[ 
					TO_DATE(END_DATE, 'YY/MM/DD') < SYSDATE 
					]]>
					</if> 
	</select>
	
	
	<!-- 조회수 증가 -->
	<update id="increaseViewCount" parameterType="_int">
		UPDATE 
						TB_CHALLENGE
		SET 
						VIEW_COUNT = VIEW_COUNT + 1
		WHERE 	
						CHALLENGE_NO = #{ challengeNo }
	</update>	
	
	<!-- 유저아이디 조회 -->
	<select id="selectUserId" parameterType="_int" resultType="string">
		SELECT
						USER_ID
		FROM
						TB_USER
		JOIN
						TB_CHALLENGE USING(USER_NO)
		WHERE
						CHALLENGE_NO = #{ challengeNo }
	</select>
	
	<!-- 카테고리이름 조회 -->
	<select id="selectCategoryName" parameterType="_int" resultType="string">
		SELECT
						CATEGORY_NAME
		FROM
						TB_CATEGORY
		JOIN
						TB_CHALLENGE USING (CATEGORY_NO)
		WHERE
						CHALLENGE_NO = #{ challengeNo }
	
	</select>
	
		<!-- 게시글 상세조회 -->
	<select id="selectChallengeDetail" resultMap="challengeResultSet" parameterType="_int"><!-- resultMap으로 할까? -->
		SELECT
						CHALLENGE_NO,
						CHALLENGE_TITLE,
						CHALLENGE_CONTENT,
						CHALLENGE_PLACE,
						ACHIEVEMENT_COUNT,
						SUCCESS_LIMIT,
						MIN_PARTICIPANT,
						MAX_PARTICIPANT,
						STATUS,
						VIEW_COUNT,
					
						ORIGIN_NAME,
						CHANGE_NAME,
						UPLOAD_DATE,
						MODIFY_DATE,
						START_DATE,
						END_DATE,
			
						USER_NO,
						CATEGORY_NO				
		FROM 
						TB_CHALLENGE
		WHERE 
						CHALLENGE_NO = #{challengeNo}
	</select>
	
	<!-- 좋아요 한 회원인지 확인 -->
	<select id="checkLikeCount" parameterType="hashmap" resultType="_int">
		<!-- SELECT
						COUNT(*)
		FROM
						TB_CHALLENGE
		JOIN
						TB_USER USING(USER_NO)
		WHERE
						USER_NO = #{ userNo }
		AND
						CHALLENGE_NO = #{ challengeNo }	 -->
		SELECT
						COUNT(*)
		FROM
						TB_LIKE_CHALLENGE
		WHERE
						CHALLENGE_NO = #{ challengeNo }
		AND		
						USER_NO = #{ userNo }
	</select>
	
	<!-- likedUser를 위한 확인 -->
	<select id="selectLikedUser" parameterType="hashmap" resultType="_int">
		SELECT
						USER_NO<!-- null? 0? -->
		FROM
						TB_LIKE_CHALLENGE
		WHERE
						CHALLENGE_NO = #{ challengeNo }
		AND		
						USER_NO = #{ userNo }<!-- 로그인한 유저넘버 -->
	</select>
	
	<!-- 좋아요수 조회 -->
	<select id="selectLikeCount" parameterType="_int" resultType="_int">
		SELECT 
						COUNT(*)
		FROM
						TB_LIKE_CHALLENGE
		WHERE
						CHALLENGE_NO = #{ challengeNo }
	</select>
	
	<!-- 좋아요수 증가 : 좋아요수를 화면에 단순히 뿌려주는 용도면 challengeNo로 카운트한 개수만 화면에 뿌려줘도 괜찮음 즉 likecount컬럼과 이 쿼리문은 필요없음 -->
<!-- 	<update id="increaseLikeCount" parameterType="hashmap">
		UPDATE 
						TB_CHALLENGE 
		SET
						LIKE_COUNT = (
													SELECT COUNT(*)
													FROM TB_LIKE_CHALLENGE
													WHERE
													CHALLENGE_NO = #{ challengeNo }	
												) + 1
		WHERE
						USER_NO = #{ userNo }
		AND
						CHALLENGE_NO = #{ challengeNo }
	</update> -->
	
	<!-- 좋아요테이블에 한 행 삽입 -->
	<insert id="insertLike" parameterType="hashmap">
		INSERT 
		INTO 
							TB_LIKE_CHALLENGE
		VALUES ( 
							#{ challengeNo }, 
							#{ userNo }, 
							SYSDATE 
						)
	</insert>
	
	<!-- 좋아요수 감소 -->
<!-- 	<update id="decreaseLikeCount" parameterType="hashmap">
		UPDATE 
						TB_CHALLENGE 
		SET
						LIKE_COUNT = (
													SELECT COUNT(*)
													FROM TB_LIKE_CHALLENGE
													WHERE
													CHALLENGE_NO = #{ challengeNo }	
												) - 1
		WHERE
						USER_NO = #{ userNo }
		AND
						CHALLENGE_NO = #{ challengeNo }
		
	</update>	 -->
	
	<!-- 좋아요 테이블에 한 행 삭제 -->
	<delete id="deleteLike" parameterType="hashmap">
		DELETE
			FROM		
							TB_LIKE_CHALLENGE
		WHERE 
							CHALLENGE_NO =  #{ challengeNo }
		AND
							USER_NO =  #{ userNo }
	</delete>	
	
	<!-- 게시글 작성 -->
	<insert id="insertChallenge" parameterType="challenge">
		INSERT 
		INTO
						TB_CHALLENGE(
						CHALLENGE_NO,
						CHALLENGE_TITLE,
						CHALLENGE_CONTENT,
						CHALLENGE_PLACE,			
						ACHIEVEMENT_COUNT,
						SUCCESS_LIMIT,
						MIN_PARTICIPANT,
						MAX_PARTICIPANT,
						ORIGIN_NAME,
						CHANGE_NAME,
						UPLOAD_DATE,
						START_DATE,
						END_DATE,
						USER_NO,
						CATEGORY_NO
						)
		VALUES(
						SEQ_CHALLENGE_NO.NEXTVAL,
						#{challengeTitle},
						#{challengeContent},
						#{challengePlace},
						#{achievementCount},
						#{successLimit},
						#{minParticipant},
						#{maxParticipant},	
						#{originName},
						#{changeName},
						SYSDATE,
						#{startDate},
						#{endDate},
						#{userNo},
						#{categoryNo}
		)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateChallenge" parameterType="challenge">
		UPDATE 
						TB_CHALLENGE
		SET  
				
						CHALLENGE_TITLE = #{challengeTitle},
						CHALLENGE_CONTENT = #{challengeContent},
						CHALLENGE_PLACE = #{challengePlace},
						ACHIEVEMENT_COUNT=#{achievementCount},
						SUCCESS_LIMIT = #{successLimit},
						MIN_PARTICIPANT=#{minParticipant},
						MAX_PARTICIPANT=#{maxParticipant},
						ORIGIN_NAME = #{originName},
						CHANGE_NAME = #{changeName},
						MODIFY_DATE = SYSDATE,
						START_DATE = #{startDate},
						END_DATE = #{endDate},
						CATEGORY_NO = #{categoryNo}
		WHERE 
						CHALLENGE_NO = #{challengeNo} 
	</update>
	
	
	
	<!-- 게시글 삭제 -->
	<update id="deleteChallenge" parameterType="_int">
	UPDATE 
					TB_CHALLENGE
	SET
					STATUS = 'N'
	WHERE 
					CHALLENGE_NO = #{challengeNo}
	</update>
	
</mapper>

