<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">

<resultMap id="resultLikeMap" type = "productLike">
	<result property="productNo" column="PRODUCT_NO"/>
	<result property="userNo" column="USER_NO"/>
	<result property="addDate" column="ADD_DATE"/>
</resultMap>

<resultMap id="cartMap" type ="cart">
	<result property="qty" column="QTY"/>
	<result property="brandNo" column="BRAND_NO"/>
	<result property="brandName" column="BRAND_NAME"/>
	<result property="productNo" column="PRODUCT_NO"/>
	<result property="productName" column="PRODUCT_NM"/>
	<result property="productInfo" column="PRODUCT_INFO"/>
	<result property="mainImg" column="MAIN_IMG"/>
	<result property="optionNo" column="OPTION_NO"/>
	<result property="optionName" column="OPTION_NM"/>
	<result property="price" column="PRICE"/>
	<result property="userNo" column="USER_NO"/>
</resultMap>


<resultMap id="reviewMap" type="productReview">
	<result property="reviewNo" column="REVIEW_NO"/>
	<result property="option" column="OPTION_NM"/>
	<result property="orderNo" column="ORDER_NO"/>
	<result property="reviewTitle" column="REVIEW_TITLE"/>
	<result property="reviewContent" column="REVIEW_CONTENT"/>
	<result property="starRate" column="STAR_RATE"/>
	<result property="changeName" column="CHANGE_NAME"/>
</resultMap>


<!-- 수 관련 -->
<select id = "selectProductCount" resultType="_int">
	SELECT COUNT(*) FROM TB_PRODUCT WHERE STATUS = 'Y'
</select>
<select id = "selectCategoryCount" resultType="_int" parameterType="string">
	SELECT COUNT(*) FROM TB_PRODUCT WHERE STATUS = 'Y' AND CATEGORY= #{category}
</select>
<update id="updateProductCount" parameterType="_int">
	UPDATE TB_PRODUCT SET COUNT=COUNT+1 WHERE PRODUCT_NO = #{productNo}
</update>


<!-- 상품 관련 -->
<resultMap id ="optionMap" type="option">
	<result column = "OPTION_NO" property = "optionNo"/>
	<result column = "OPTION_NM" property="optionName"/>
	<result column = "PRICE" property="price"/>
</resultMap>
<resultMap id="resultProductMap" type="product">
	<result property="productNo" column="PRODUCT_NO"/>
	<result property="productName" column="PRODUCT_NM"/>
	<result property="mainImg" column="MAIN_IMG"/>
	<result property="productInfo" column = "PRODUCT_INFO"/>
	<result property="detailInfo" column = "DETAIL_INFO"/>
	<result property="extraInfo" column = "EXTRA_INFO"/>
	<collection property="optionList" ofType="option" resultMap = "optionMap"/>
</resultMap>
<select id="selectProductList" resultMap="resultProductMap" parameterType="map">
SELECT 
		PRODUCT_NO, 
		PRODUCT_NM, 
		MAIN_IMG, 
		OPTION_NO, 
		OPTION_NM, 
		PRICE
	FROM 
		TB_PRODUCT P
	JOIN 
		TB_PRODUCT_OPTION O USING (PRODUCT_NO) 
	LEFT JOIN (
				  SELECT 
				  		COUNT(*) "LIKE"
				  		, PRODUCT_NO 
				  	FROM 
				  		TB_PRODUCT_LIKE 
				  	GROUP 
				  		BY 
				  			PRODUCT_NO) USING(PRODUCT_NO) 
	WHERE 
		 O.STATUS IN ('Y', 'O') 
	AND 
		P.STATUS = 'Y' 
	<if test="category != 'all'">
	AND CATEGORY = #{category} </if>	
	<if test="keyword != null">
	AND OPTION_NM LIKE '%${keyword}%' OR PRODUCT_NM LIKE '%${keyword}%' </if>	
	<if test="orderBy == 'latest' ">
	ORDER BY CREATE_DATE DESC </if>
	<if test="orderBy == 'view'">
	ORDER BY COUNT DESC </if>
	<if test="orderBy == 'like'">
	ORDER BY "LIKE" DESC NULLS LAST </if>
	<if test="orderBy == 'priceDesc'">
	ORDER BY PRICE DESC </if>
	<if test="orderBy == 'priceAsc'">
	ORDER BY PRICE ASC </if>
</select>

<select id="searchProduct" resultMap="resultProductMap" parameterType="string">
SELECT 
		PRODUCT_NO, 
		PRODUCT_NM, 
		MAIN_IMG, 
		OPTION_NO, 
		OPTION_NM, 
		PRICE
	FROM 
		TB_PRODUCT P
	JOIN 
		TB_PRODUCT_OPTION O USING (PRODUCT_NO)
	WHERE 
		O.STATUS IN ('Y', 'O') 
	AND 
		P.STATUS = 'Y' 
    AND PRODUCT_NM LIKE '%#{keyword}%' OR OPTION_NM LIKE '%keyword%'
</select>

<select id = "selectProduct" parameterType = "_int"  resultMap="resultProductMap">
	SELECT 
			PRODUCT_NO, 
			PRODUCT_NM, 
			PRODUCT_INFO, 
			DETAIL_INFO, 
			EXTRA_INFO, 
			BRAND_NO, 
			MAIN_IMG, 
			OPTION_NO, 
			OPTION_NM, 
			PRICE 
	FROM 
		TB_PRODUCT 
	JOIN 
		TB_PRODUCT_OPTION O USING (PRODUCT_NO) 
	WHERE 
		O.STATUS IN ('Y', 'O') 
	AND 
		PRODUCT_NO = #{productNo} 
	
</select>

<select id="getPrice" parameterType="_int" resultType="string">
	select 
			TO_CHAR(price, '999,999') 
		from 
			tb_product_option 
		where 
			OPTION_NO = #{optionNo}
</select>
<select id="getImages" parameterType="_int" resultType="string">
	SELECT 
			FILE_NAME fileName 
		FROM 
			TB_PRODUCT_IMG 
		WHERE 
			PRODUCT_NO = #{productNo} 
		AND STATUS= 'Y'
</select>
<select id="getBrand" parameterType="_int" resultType="brand">
	SELECT 
		BRAND_NO brandNo, 
		BRAND_NAME brandName, 
		BRAND_INTRO brandIntro  
	FROM 
		TB_BRAND 
	WHERE 
		BRAND_NO = (
					SELECT 
						BRAND_NO 
					FROM 
						TB_PRODUCT 
					WHERE 
						PRODUCT_NO = #{productNo}
						)
</select>

<select id="getRate" parameterType="_int" resultType="productReview">
	SELECT 
	    	COUNT(*) reviewNo, 
	    	ROUND(AVG(STAR_RATE),1) starRate  
	FROM 
	    TB_PRODUCT_REVIEW 
	WHERE 
		STATUS='Y' 
	AND 
	    OPTION_NO IN (
	                    SELECT OPTION_NO 
	                    FROM TB_PRODUCT_OPTION 
	                    WHERE PRODUCT_NO = #{productNo}
	                    )
</select>
<!-- 좋아요 -->
<insert id="addLike" parameterType="productLike">
INSERT 
	INTO 
		TB_PRODUCT_LIKE(
						PRODUCT_NO
						, USER_NO
						) 
				VALUES(
						#{productNo}
						, #{userNo}
						)
</insert>
<select id="getLikes" parameterType="_int" resultType="productLike">
	SELECT 
		PRODUCT_NO productNo, 
		USER_NO userNo, 
        MAIN_IMG mainImg,
        PRODUCT_NM productName 
	FROM 
		TB_PRODUCT_LIKE 
    JOIN TB_PRODUCT USING(PRODUCT_NO) 
	WHERE 
		USER_NO = #{userNo}
</select>

<select id="checkLike" parameterType="productLike" resultType="string">
	SELECT 'Y' FROM TB_PRODUCT_LIKE WHERE PRODUCT_NO = #{productNo} AND USER_NO = #{userNo}
</select>

<delete id="removeLike" parameterType="productLike">
	DELETE FROM TB_PRODUCT_LIKE WHERE PRODUCT_NO = #{productNo} AND USER_NO = #{userNo}
</delete>



<select id="selectCartItems" parameterType="_int" resultMap="cartMap">
	SELECT 
        BRAND_NO, 
        BRAND_NAME, 
        PRODUCT_NO, 
        PRODUCT_NM, 
        PRODUCT_INFO, 
        MAIN_IMG, 
        OPTION_NM, 
        OPTION_NO, 
        PRICE,
        QTY 
	FROM 
		TB_CART_ITEM I 
	JOIN 
		TB_PRODUCT_OPTION O USING(OPTION_NO) 
	JOIN 
		TB_PRODUCT USING(PRODUCT_NO) 
	JOIN 
		TB_BRAND USING(BRAND_NO) 
	WHERE 
		USER_NO = #{userNo} 
	AND 
		O.STATUS IN ('Y', 'O') 
	ORDER 
		BY 
		ADD_DATE DESC
</select>
<update id="updateQty" parameterType="cart">
	UPDATE 
			TB_CART_ITEM 
		SET 
			QTY=#{qty} 
		WHERE 
			USER_NO=#{userNo} 
		AND 
			OPTION_NO=#{optionNo}
</update>

<insert id="addCart" parameterType="cart">
	INSERT 
		INTO 
			TB_CART_ITEM(
						USER_NO, 
						OPTION_NO, 
						QTY
						) 
			VALUES
					(
					#{userNo},
					#{optionNo},
					#{qty}
					)
</insert>

<select id="checkCart" parameterType="cart" resultType="string">
	SELECT 
			TO_CHAR(ADD_DATE, 'YYYY-MM-DD') 
	FROM 
		TB_CART_ITEM 
	WHERE 
		USER_NO = #{userNo} 
	AND 
		OPTION_NO = #{optionNo} 
</select>

<delete id="removeItem" parameterType="cart">
	DELETE 
			FROM 
				TB_CART_ITEM 
			WHERE 
				USER_NO = #{userNo} 
			AND 
				OPTION_NO = #{optionNo}
</delete>

<select id = "getCartItem" parameterType="_int" resultMap="cartMap">
	SELECT 
			OPTION_NO, 
			OPTION_NM, 
			PRICE , 
			PRODUCT_NO, 
			PRODUCT_NM, 
			MAIN_IMG
    FROM 
    	TB_PRODUCT_OPTION 
    JOIN 
    	TB_PRODUCT USING(PRODUCT_NO) 
    WHERE 
    	OPTION_NO = #{optionNo}
</select>

<insert id="insertOrder" parameterType="order">
	INSERT 
			INTO TB_ORDER VALUES(SEQ_ORDER_NO.NEXTVAL, #{addressNo}, #{userNo}, SYSDATE)
</insert>
<insert id="insertOrderItem" parameterType="order">
	INSERT INTO TB_ORDER_ITEM VALUES(SEQ_ORDER_NO.CURRVAL, #{optionNo}, #{qty})
</insert>

<insert id="insertOrderItems" parameterType="com.kh.eco.product.model.vo.OrderItem">
	INSERT INTO TB_ORDER_ITEM VALUES(SEQ_ORDER_NO.CURRVAL, #{optionNo}, #{qty})
</insert>

<insert id="insertReady" parameterType="approveRequest">
	INSERT 
		INTO 
			TB_KAKAO_READY(
							PAY_NO
							, USER_NO
							, TID) 
					VALUES(
							SEQ_PAY_NO.NEXTVAL
							,#{userNo} 
							,#{tid}
							)
</insert>

<select id="getRequestParam" resultType="approveRequest">
	SELECT 
			CID, 
			TID, 
			PARTNER_ORDER_ID partnerOrderId, 
			USER_NO userNo 
	FROM 
		TB_KAKAO_READY 
	WHERE 
		PAY_NO = (
					SELECT 
							MAX(PAY_NO) 
						FROM 
							TB_KAKAO_READY
							)
</select>

<select id="getProductOption" resultType="option" parameterType="_int">
	SELECT 
			OPTION_NO optionNo 
			, OPTION_NM optionName 
			, PRICE price 
		FROM 
			TB_PRODUCT_OPTION 
		WHERE 
			OPTION_NO = #{optionNo}
</select>

<select id = "selectOrderCount" parameterType="_int" resultType="_int">
	SELECT COUNT(*) FROM TB_ORDER WHERE USER_NO = #{userNo}
</select>

<resultMap id="shoppingListMap" type="order">
	<result property="orderNo" column="ORDER_NO" />
	<result property="userNo" column="USER_NO" />
	<result property="orderDate" column="ORDER_DATE"/>
	<result property="addressNo" column="ADDRESS_NO"/>
	<collection property="orderDetail" ofType="cart" resultMap="cartMap"/>
</resultMap>

<select id="getShoppingList" parameterType="hashmap" resultMap="shoppingListMap">
SELECT 
        R, ORDER_NO 
        , USER_NO
        , OPTION_NO
        , OPTION_NM
        , QTY
        , PRICE 
        , PRODUCT_NO 
        , PRODUCT_NM 
        , BRAND_NO 
        , BRAND_NAME 
        , MAIN_IMG 
	FROM (
			SELECT 
	            ROWNUM R
	            , ORDER_NO
	            , USER_NO 
	        FROM 
	            TB_ORDER 
	        ORDER BY ORDER_NO DESC)
	 JOIN 
	     TB_ORDER_ITEM USING(ORDER_NO)
	 JOIN 
	     TB_PRODUCT_OPTION USING(OPTION_NO) 
	 JOIN 
	     TB_PRODUCT USING(PRODUCT_NO) 
	 JOIN 
	     TB_BRAND USING(BRAND_NO) 
	 WHERE R BETWEEN #{startRow} AND #{endRow} 
	 AND USER_NO = #{userNo}
</select>

<!-- 리뷰 -->
<insert id = "insertReview" parameterType="productReview">
	INSERT 
		INTO 
			TB_PRODUCT_REVIEW 
							VALUES(
							SEQ_PRODUCT_RNO.NEXTVAL,
							#{optionNo},
							#{orderNo},
							#{reviewTitle},
							#{reviewContent},
							#{starRate},
							DEFAULT,
							#{originName},
							#{changeName}
							)
</insert>
<select id="checkReview" parameterType="_int" resultMap="optionMap">
SELECT 
        OPTION_NO 
        , OPTION_NM  
    FROM 
        TB_ORDER 
    JOIN 
        TB_ORDER_ITEM USING(ORDER_NO) 
    JOIN 
        TB_PRODUCT_OPTION USING(OPTION_NO)  
    WHERE 
    	ORDER_NO = #{orderNo} 
    AND 
    	OPTION_NO 
    			NOT IN (
    					SELECT 
    						OPTION_NO 
    					FROM 
    						TB_PRODUCT_REVIEW 
    					WHERE 
    						ORDER_NO = #{orderNo} 
    					AND STATUS = 'Y')
</select>
<select id="reviewList" parameterType="_int" resultMap="reviewMap">
	SELECT 
	    	REVIEW_NO , 
	    	OPTION_NM , 
	    	REVIEW_TITLE , 
	    	REVIEW_CONTENT , 
	    	STAR_RATE ,
	    	CHANGE_NAME  
	FROM 
		TB_PRODUCT_REVIEW R 
	JOIN 
		TB_PRODUCT_OPTION USING(OPTION_NO) 
	WHERE 
		R.STATUS='Y' 
	AND OPTION_NO IN (
	                SELECT OPTION_NO 
	                FROM TB_PRODUCT_OPTION 
	                WHERE PRODUCT_NO = #{productNo}
	                )
</select>

<select id="getLastReview" parameterType="_int" resultMap="reviewMap">
SELECT 
		REVIEW_NO 
        , OPTION_NM 
        , ORDER_NO  
        , REVIEW_TITLE 
        , REVIEW_CONTENT 
        , STAR_RATE 
        , CHANGE_NAME
    FROM (SELECT
                REVIEW_NO
                , OPTION_NM
                , ORDER_NO
                , REVIEW_TITLE
                , REVIEW_CONTENT
                , STAR_RATE
                , CHANGE_NAME 
            FROM 
                TB_PRODUCT_REVIEW R
            JOIN TB_PRODUCT_OPTION USING(OPTION_NO) 
            JOIN TB_ORDER USING(ORDER_NO) 
            WHERE 
            	USER_NO = #{userNo} 
            AND R.STATUS = 'Y' 
            ORDER 
            	BY ORDER_DATE DESC) 
    WHERE ROWNUM=1
</select>
<update id="deleteReview" parameterType="_int">
	UPDATE TB_PRODUCT_REVIEW SET STATUS='N' WHERE REVIEW_NO = #{reviewNo}
</update>

<insert id="saveKeyword" parameterType="string">
	INSERT INTO TB_KEYWORD(KEYWORD) VALUES(#{keyword})
</insert>

<select id="checkKeyword" parameterType="string" resultType="_int">
	SELECT COUNT(*) FROM TB_KEYWORD WHERE KEYWORD= #{keyword}
</select>

<update id="updateKeywordCount" parameterType="string">
	UPDATE TB_KEYWORD SET COUNT = COUNT+1 WHERE KEYWORD=#{keyword}
</update>

<select id = "getKeywords" parameterType="string" resultType="string">
	SELECT 
        KEYWORD 
    FROM (
            SELECT KEYWORD, ADD_DATE, COUNT 
            FROM TB_KEYWORD 
            WHERE KEYWORD 
            LIKE '%${keyword}%' 
            ORDER BY COUNT DESC)
    WHERE ROWNUM BETWEEN 1 AND 3
</select>

<select id="getAddressList" parameterType="_int" resultType="address">
	SELECT 
			ADDRESS_NO addressNo 
			, USER_NO userNo
			, POST  
			, ADDRESS  
			, DETAIL_ADDRESS detailAddress 
			, RECEIVER 
			, PHONE 
		FROM TB_ADDRESS 
		WHERE USER_NO=#{userNo}
</select>

<select id="getOrderList" parameterType="_int" resultType="order">
SELECT 
        DISTINCT(ORDER_NO) orderNo
        , ORDER_DATE orderDate
        , "total"
        , "productName"    
FROM TB_ORDER 
JOIN (SELECT 
            ORDER_NO
            , TO_CHAR(SUM(QTY*PRICE), '999,999')||'원' "total"
            , LISTAGG(OPTION_NM, ',') WITHIN GROUP(ORDER BY OPTION_NM) "productName"
        FROM 
            TB_ORDER_ITEM 
        JOIN 
            TB_PRODUCT_OPTION USING(OPTION_NO) 
        JOIN 
            TB_ORDER USING(ORDER_NO) 
        WHERE USER_NO =#{userNo} 
        GROUP 
            BY 
                ORDER_NO) USING(ORDER_NO) 
JOIN 
    TB_ORDER_ITEM USING(ORDER_NO)  
JOIN 
    TB_PRODUCT_OPTION USING(OPTION_NO) 
ORDER 
    BY 
        ORDER_DATE DESC
</select>

<insert id="addAddress" parameterType="address">
	INSERT 
		INTO 
			TB_ADDRESS 
		VALUES(
			SEQ_ADDR_NO.NEXTVAL
			, #{userNo}
			, #{post} 
			, #{address}
			, #{detailAddress}
			, #{receiver}
			, #{phone}
			, DEFAULT
			)
</insert>
</mapper>