<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productMapper">
<resultMap id="resultProductMap" type="product">
	<result property="productNo" column="PRODUCT_NO"/>
	<result property="productName" column="PRODUCT_NM"/>
	<result property="mainImg" column="MAIN_IMG"/>
	<result property="productInfo" column = "PRODUCT_INFO"/>
	<result property="detailInfo" column = "DETAIL_INFO"/>
	<result property="extraInfo" column = "EXTRA_INFO"/>
	<collection property="optionList" ofType="option">
		<result column = "OPTION_NO" property = "optionNo"/>
		<result column = "OPTION_NM" property="optionName"/>
		<result column = "PRICE" property="price"/>
	</collection>
</resultMap>
<select id="selectProductList" resultMap="resultProductMap">
SELECT 
		PRODUCT_NO, 
		PRODUCT_NM, 
		MAIN_IMG, 
		OPTION_NO, 
		OPTION_NM, 
		PRICE
	FROM 
		TB_PRODUCT P
	JOIN 
		TB_PRODUCT_OPTION O USING (PRODUCT_NO)
	WHERE 
		O.STATUS IN ('Y', 'O') 
	AND 
		P.STATUS = 'Y'
</select>

<insert id="addLike" parameterType="hashmap">
INSERT INTO TB_PRODUCT_LIKE(PRODUCT_NO, USER_NO) VALUES(#{productNo}, #{userNo})
</insert>

<select id = "selectProduct" parameterType = "_int"  resultMap="resultProductMap">
SELECT 
	PRODUCT_NO, 
	PRODUCT_NM, 
	PRODUCT_INFO, 
	DETAIL_INFO, 
	EXTRA_INFO, 
	BRAND_NO, 
	MAIN_IMG, 
	OPTION_NO, 
	OPTION_NM, 
	PRICE
FROM 
	TB_PRODUCT 
JOIN 
	TB_PRODUCT_OPTION O USING (PRODUCT_NO) 
WHERE 
	O.STATUS IN ('Y', 'O') 
AND 
	PRODUCT_NO = #{productNo}
</select>
</mapper>