<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookMapper">
	
	<!-- resultMap 영역 -->
	
	
	
	
	<!-- 도서정보insert -->
	<insert id="bookImport" parameterType="string">
		INSERT INTO BOOK
						(
						ISBN13
						)
		VALUES
						(
						#{ISBN}
						)
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>