<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookMapper">
	
	<!-- resultMap 영역 -->
	<!-- 한줄평 -->
	<resultMap id="bookReplyResultSet" type="bookReply">
		<result column="BOOK_REPLY_DATE" property="bookReplyDate" />
		<result column="BOOK_REPLY_CONTENT" property="bookReplyContent" />
		<result column="USER_ID" property="userId" />
	</resultMap>
	
	<!-- 독후감 게시글 -->
	<resultMap id="bookReportResultSet" type="bookReport">
		<result column="BOOK_REPORT_NO" property="bookReportNo" />
		<result column="BOOK_REPORT_NOTICE" property="bookReportNotice" />
		<result column="BOOK_REPORT_CONTENT" property="bookReportContent" />
		<result column="BOOK_REPORT_TITLE" property="bookReportTitle" />
		<result column="USER_ID" property="userId" />
		<result column="BOOK_REPORT_DATE" property="bookReportDate" />
		<result column="BOOK_REPORT_COUNT" property="bookReportCount" />
		<result column="BOOK_REPORT_SECRET" property="bookReportSecret" />
		<result column="BOOK_REPORT_STAR" property="bookReportStar" />
	</resultMap>
	
	
	<!-- 도서 조회수 조회 -->
	<select id="countList" resultType="book">
		SELECT
			ISBN13 ISBN13,
    		BOOK_COUNT bookCount
		FROM
			TB_BOOK
	</select>

	<!-- 도서정보insert -->
	<insert id="insertBook" parameterType="String">
		INSERT INTO TB_BOOK
						(
						ISBN13,
						BOOK_COUNT
						)
		VALUES
						(
						#{ISBN},
						1
						)
	</insert>
	
	<!-- 도서정보 조회수 증가 -->
	<update id="increaseBook" parameterType="String">
		UPDATE TB_BOOK
		SET
			BOOK_COUNT = BOOK_COUNT + 1
		WHERE
			ISBN13 = #{ISBN}
	</update>
	
	<!-- 도서정보 조회수 조회 -->
	<select id="countBook" parameterType="String" resultType="_int">
		SELECT
			BOOK_COUNT
		FROM
			TB_BOOK
		WHERE
			ISBN13 = #{ISBN}
	</select>
	
	<!-- 북마크 추가 -->
	<insert id="insertBookMark" parameterType="hashMap">
		INSERT INTO TB_LIKE_BOOK
		VALUES
				(
				#{userNo},
				#{ISBN}
				)
	</insert>
	
	<!-- 북마크 제거 -->
	<delete id="removeBookMark" parameterType="hashMap">
		DELETE FROM TB_LIKE_BOOK
		WHERE
			ISBN13 = #{ISBN}
		AND
			USER_NO = #{userNo}
	</delete>
	
	<!-- 북마크 조회 -->
	<select id="selectBookMark" parameterType="hashMap" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			TB_LIKE_BOOK
		WHERE
			ISBN13 = #{ISBN}
		AND
			USER_NO = #{userNo}
	</select>
	
	<!-- 도서 한줄평 등록 -->
	<insert id="ajaxInsertBookReply" parameterType="hashMap">
		INSERT ALL
				WHEN 
				<![CDATA[
					(SELECT 
						COUNT(*)
					FROM 
						TB_BOOK_REPLY
					WHERE
						USER_NO = #{userNo}
					AND
						ISBN13 = #{ISBN13}
					) < 1
				]]>
				THEN
				INTO TB_BOOK_REPLY
				VALUES (
					SYSDATE,
					#{content},
					#{ISBN13},
					#{userNo}
					)
				INTO TB_ECO_HISTORY
				VALUES (
					#{userNo},
					10,
					SYSDATE,
					'B'
					)
				SELECT * FROM DUAL
	</insert>
	
	<!-- 도서 한줄평 개수 조회 -->
	<select id="ajaxSelectBookReplyCount" parameterType="string" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			TB_BOOK_REPLY
		WHERE
			ISBN13 = #{ISBN13}
	</select>
	
	<!-- 도서 한줄평 리스트 조회 -->
	<select id="ajaxSelectBookReply" parameterType="string" resultMap="bookReplyResultSet">
		SELECT 
			TO_CHAR(BOOK_REPLY_DATE, 'YYYY-MM-DD') AS "BOOK_REPLY_DATE",
			BOOK_REPLY_CONTENT,
			USER_ID
		FROM
			TB_BOOK_REPLY
		JOIN
			TB_USER USING(USER_NO)
		JOIN
			TB_BOOK USING(ISBN13)
		WHERE
			ISBN13 = #{ISBN13}
		ORDER
		BY
			BOOK_REPLY_DATE DESC
	</select>
	
	<!-- 도서 한줄평 삭제 -->
	<delete id="ajaxDeleteBookReply" parameterType="hashMap">
		DELETE TB_BOOK_REPLY
		WHERE ISBN13 = #{ISBN13}
		AND USER_NO = #{userNo}
	</delete>
	
	<!-- 독후감 게시글 개수 조회 -->
	<select id="reportCount" resultType="_int">
		SELECT COUNT(*)
		FROM TB_BOOK_REPORT
	</select>
	
	<!-- 독후감 게시글 리스트 조회 -->
	<select id="selectReportList" resultMap="bookReportResultSet">
		SELECT
			BOOK_REPORT_NO,
			BOOK_REPORT_NOTICE,
			BOOK_REPORT_TITLE,
			USER_ID,
			TO_CHAR(BOOK_REPORT_DATE, 'YYYY-MM-DD') AS "BOOK_REPORT_DATE",
			BOOK_REPORT_COUNT,
			BOOK_REPORT_SECRET,
			BOOK_REPORT_STAR
		FROM
			TB_BOOK_REPORT
		JOIN
			TB_USER USING(USER_NO)
		WHERE
			BOOK_REPORT_STATUS = 'Y'
		ORDER
		BY
			BOOK_REPORT_NOTICE,
			BOOK_REPORT_DATE DESC
	</select>
	
	<!-- 독후감 게시글 검색 개수 조회 -->
	<select id="searchReportCount" parameterType="hashMap" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			TB_BOOK_REPORT
		JOIN
			TB_USER USING(USER_NO)
		WHERE 
			BOOK_REPORT_STATUS = 'Y'
		AND 
		<if test="condition == 'title'">
			BOOK_REPORT_TITLE
		</if>
		<if test="condition == 'content'">
			BOOK_REPORT_CONTENT
		</if>
		<if test="condition == 'writer'">
			USER_ID
		</if>
		LIKE '%' || '${keyword}' || '%'
		ORDER
		BY
			BOOK_REPORT_NOTICE,
			BOOK_REPORT_DATE DESC
	</select>
	
	<!-- 독후감 게시글 검색 조회 -->
	<select id="searchReportList" parameterType="hashMap" resultMap="bookReportResultSet">
		SELECT
			BOOK_REPORT_NO,
			BOOK_REPORT_NOTICE,
			BOOK_REPORT_TITLE,
			USER_ID,
			TO_CHAR(BOOK_REPORT_DATE, 'YYYY-MM-DD') AS "BOOK_REPORT_DATE",
			BOOK_REPORT_COUNT,
			BOOK_REPORT_SECRET,
			BOOK_REPORT_STAR
		FROM
			TB_BOOK_REPORT
		JOIN
			TB_USER USING(USER_NO)
		WHERE 
			BOOK_REPORT_STATUS = 'Y'
		AND 
		<if test="condition == 'title'">
			BOOK_REPORT_TITLE
		</if>
		<if test="condition == 'content'">
			BOOK_REPORT_CONTENT
		</if>
		<if test="condition == 'writer'">
			USER_ID
		</if>
		LIKE '%' || '${keyword}' || '%'
		ORDER
		BY
			BOOK_REPORT_NOTICE,
			BOOK_REPORT_DATE DESC
	</select>
	
	
</mapper>

