<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bookMapper">
	
	<!-- resultMap 영역 -->
	
	
	
	<!-- 도서 조회수 조회 -->
	<select id="countList" resultType="book">
		SELECT
			ISBN13 ISBN13,
    		BOOK_COUNT bookCount
		FROM
			TB_BOOK
	</select>

	<!-- 도서정보insert -->
	<insert id="insertBook" parameterType="String">
		INSERT INTO TB_BOOK
						(
						ISBN13,
						BOOK_COUNT
						)
		VALUES
						(
						#{ISBN},
						1
						)
	</insert>
	
	<!-- 도서정보 조회수 증가 -->
	<update id="increaseBook" parameterType="String">
		UPDATE TB_BOOK
		SET
			BOOK_COUNT = BOOK_COUNT + 1
		WHERE
			ISBN13 = #{ISBN}
	</update>
	
	<!-- 도서정보 조회수 조회 -->
	<select id="countBook" parameterType="String" resultType="_int">
		SELECT
			BOOK_COUNT
		FROM
			TB_BOOK
		WHERE
			ISBN13 = #{ISBN}
	</select>
	
	<!-- 북마크 추가 -->
	<insert id="insertBookMark" parameterType="hashMap">
		INSERT INTO TB_LIKE_BOOK
		VALUES
				(
				#{userNo},
				#{ISBN}
				)
	</insert>
	
	<!-- 북마크 제거 -->
	<delete id="removeBookMark" parameterType="hashMap">
		DELETE FROM TB_LIKE_BOOK
		WHERE
			ISBN13 = #{ISBN}
		AND
			USER_NO = #{userNo}
	</delete>
	
	<!-- 북마크 조회 -->
	<select id="selectBookMark" parameterType="hashMap" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			TB_LIKE_BOOK
		WHERE
			ISBN13 = #{ISBN}
		AND
			USER_NO = #{userNo}
	</select>
	
	<!-- 도서 한줄평 등록 -->
	<insert id="ajaxInsertBookReply" parameterType="hashMap">
		INSERT ALL
				WHEN 
				<![CDATA[
					(SELECT 
						COUNT(*)
					FROM 
						TB_BOOK_REPLY
					WHERE
						USER_NO = #{userNo}
					AND
						ISBN13 = #{ISBN13}
					) < 1
				]]>
				THEN
				INTO TB_BOOK_REPLY
				VALUES (
					SEQ_BOOK_REPLY.NEXTVAL,
					SYSDATE,
					#{content},
					#{ISBN13},
					#{userNo}
					)
				INTO TB_ECO_HISTORY
				VALUES (
					#{userNo},
					10,
					SYSDATE,
					'B'
					)
				SELECT * FROM DUAL
	</insert>
	
	<!-- 도서 한줄평 개수 조회 -->
	<select id="ajaxSelectBookReplyCount" parameterType="string" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			TB_BOOK_REPLY
		WHERE
			ISBN13 = #{ISBN13}
	</select>
	
	<!-- 도서 한줄평 리스트 조회 -->
	<select id="ajaxSelectBookReply" parameterType="string" resultType="bookReply">
		SELECT 
			BOOK_REPLY_NO,
			TO_CHAR(BOOK_REPLY_DATE, 'YYYY-MM-DD') AS "BOOK_REPLY_DATE",
			BOOK_REPLY_CONTENT,
			USER_ID
		FROM
			TB_BOOK_REPLY
		JOIN
			TB_USER USING(USER_NO)
		JOIN
			TB_BOOK USING(ISBN13)
		WHERE
			ISBN13 = #{ISBN13}
		ORDER
		BY
			BOOK_REPLY_DATE DESC
	</select>
	
	
	
	
	
	
</mapper>

