<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eventChallengeMapper">
<!-- resultMap 영역 -->
	<resultMap id="ResultSet" type="eventChallenge">
		<result column="STATUS" property="status" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="CATEGORY_NO" property="categoryNo" />
		
	<!-- 1. type필드를 통해 resultMap 다르게 구상하기 -->
		<discriminator column="type" javaType="_int">
			<case value="1" resultType="event">
				<result column="EVENT_NO" property="eventNo"/>
				<result column="EVENT_TITLE" property="eventTitle"/>
				<result column="EVENT_CONTENT" property="eventContent"/>
				<result column="EVENT_PLACE" property="eventPlace"/>
				<result column="EVENT_DATE" property="eventDate"/>

			</case>
			<case value="2" resultType="challenge">
				<result column="CHALLENGE_NO" property="challengeNo" />
				<result column="CHALLENGE_TITLE" property="challengeTitle"/>
				<result column="CHALLENGE_CONTENT" property="challengeContent"/>
				<result column="CHALLENGE_PLACE" property="challengePlace"/>
				<result column="ACHIEVEMENT_COUNT" property="achievementCount"/>
				<result column="SUCCESS_LIMIT" property="successLimit"/>
				<result column="MIN_PARTICIPANT" property="minParticipant"/>
				<result column="MAX_PARTICIPANT" property="maxParticipant"/>
				<result column="VIEW_COUNT" property="viewCount"/>
				<result column="LIKE_COUNT" property="likeCount"/>
				<result column="START_DATE" property="startDate"/>
				<result column="END_DATE" property="endDate"/>
				<result column="USER_NO" property="userNo"/>
				<!-- achieveList는 oracle에 column이 따로 없음 -->
			</case>
		</discriminator>
	</resultMap>
	
	<!-- 2. challenge에 딸린 achievement리스트담을 resultMap -->
	<resultMap id="challengeAndAchieveMap" type="challenge">
		<result column="CHALLENGE_NO" property="challengeNo"/>
		<result column="CHALLENGE_TITLE" property="challengeTitle"/>
		<result column="CHALLENGE_CONTENT" property="challengeContent"/>
		<result column="CHALLENGE_PLACE" property="challengePlace"/>
		<result column="ACHIEVEMENT_COUNT" property="achievementCount"/>
		<result column="SUCCESS_LIMIT" property="successLimit"/>
		<result column="MIN_PARTICIPANT" property="minParticipant"/>
		<result column="MAX_PARTICIPANT" property="maxParticipant"/>
		<result column="VIEW_COUNT" property="viewCount"/>
		<result column="LIKE_COUNT" property="likeCount"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="USER_NO" property="userNo"/>
		<!-- 필드에 list등 collection담기 -->
		<collection property="achieveList" resultMap="achieveMap" />
	</resultMap>
	
	<!-- collection내용물에 해당하는 resultMap -->
	<resultMap id="achieveMap" type="achievement">
		<result column="ACHIEVE_NO" property="achievementNo"/>
		<result column="CHALLENGE_NO " property="challengeNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="ACHIEVE_TITLE" property="achievementTitle"/>
		<result column="ACHIEVE_CONTENT" property="achievementContent"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>






</mapper>